__pycache__/trainer.cpython-312.pyc
__pycache__/unet.cpython-312.pyc
__pycache__/unet.cpython-311.pyc
__pycache__/ddim.cpython-311.pyc
__pycache__/*.pyc
__pycache__/*.pyc
data/CIFAR/
notebook/
obs/
results/

models/model_CIFAR_ckpt_110.pth
models/model_CIFAR_ckpt_120.pth
models/model_CIFAR_ckpt_130.pth
models/model_CIFAR_ckpt_140.pth
models/model_CIFAR_ckpt_150.pth
models/model_CIFAR_ckpt_160.pth
models/model_CIFAR_ckpt_170.pth
models/model_CIFAR_ckpt_180.pth
models/model_CIFAR_ckpt_190.pth
models/model_CIFAR_ckpt_60.pth
models/model_CIFAR_ckpt_70.pth
models/model_CIFAR_ckpt_80.pth
models/model_CIFAR_ckpt_90.pth

models/model_CIFAR_ckpt_10.pth
models/model_CIFAR_ckpt_20.pth
models/model_CIFAR_ckpt_30.pth
models/model_CIFAR_ckpt_40.pth